body {
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;

}

#header {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    height: 61px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 56, 68, 0.1);
}